TELEGRAM_BOT_TOKEN=your_token_here
NOTION_API_KEY=your_notion_token_here
NOTION_DATABASE_ID=your_database_id
IMGUR_ACCESS_TOKEN=your_imgur_access_token_here
IMGUR_REFRESH_TOKEN=your_imgur_refresh_token_here
IMGUR_CLIENT_ID=your_imgur_client_id_here
IMGUR_CLIENT_SECRET=your_imgur_client_secret_here
IMGUR_ACCOUNT_USERNAME=your_imgur_account_username_here